.app {
  max-width: 1440px;
  margin: auto;
  padding: 2rem 3rem;
}

.header {
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
 
}

.header h3 {
font-size: 1rem;
}

.header__link {
  text-decoration: none;
  color: white;
  padding: 0.8rem;
  animation-name: tracking-in-expand;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.about-group .right button {
  padding: 1rem 2rem ;
}

.navbar__links h3 {
font-weight: 400;
}

.hero-left {
  width: 40%;
  
}

.motion-bg {
  width: 100%;
}

.icons  {
padding: 0.2rem;
border-radius: 50%;
border: none;
transition: .3s;
background-color: transparent;
}

.resume_btn {
border: none;
padding: 0.8rem 2rem;
border-radius: 0.2rem;
font-size: 0.9rem;
letter-spacing: 0.1rem;
}

.resume_btn:hover {
  transform: scale(1.02);
}

.navbar__links {
display: flex;
justify-content: space-evenly;
flex: 1;
padding: 0 20%;
align-items: center;
}

.buttons {
display: flex;
justify-content: space-evenly;
align-items: center;
}

button {
margin: 2%;
cursor: pointer;
}

.sections h3 {
font-family: "Raleway", sans-serif;
padding: 0 2%;
cursor: pointer;
}

a {
text-decoration: none; 
color: inherit;
}

.menu {
display: none;
}

.about {
  margin-top: 1.2rem;
}

.about-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left {
  width: 50%;
  padding: 0.2rem;
  margin-top: 1.2rem;
  margin-bottom: 20%;
 
}

.left p {
  line-height: 2rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}


.right {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  padding: 1.2rem 2.2rem;
}


.right input {
  border: none;
  background: transparent;
  padding: 1.2rem 0;
  outline: none;
  border-bottom: solid 0.1rem #f79540;
}

.right textarea {
  border: none;
  background: transparent;
  border-bottom: 0.1rem solid #f79540;
  padding: 0.8rem;
}

.right button {
  background-color: #f79540;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 1.2rem;
  margin-top: 0.95rem;
}

.hero-section {
  display: flex;
  padding: 0;
  height: auto;
  transition: 0.5s;
  align-items: center;
}

.hero-right {
  margin:10% 2%;

}

.hero-right .intro {
  font-family: "Raleway" , sans-serif;
  font-weight: 700;
  animation-name: tracking-in-expand;
  animation-duration: 2s;
}


.hero-name {
  animation-delay: 2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  animation-name: tracking-in-expand;
  animation-duration: 2s;
}

.tag-line {
  animation-name: tracking-in-expand;
  animation-delay: 4s;
  animation-duration: 2s;
  font-size: 3rem;
}


.hero-right .description {
  font-family: "Raleway", sans-serif;
  margin-top: 2.2rem;
}

.btn-hire {
  border: none;
  margin-left: 0;
  padding: 0.8rem 1.2rem;
  margin-top: 2.8rem;
  background-color: transparent;
  border-radius: 0.2rem;

}

.btn-hire:hover {
  transform: scale(1.02);
}

.hero-right .tag-line {
  font-weight: 700;
  line-height: 4rem;
}

.links {
  margin-top: 1.2rem;
  display: flex;
}

.link-icons {
  margin: 0.2rem;
  border-radius: 0.2rem;
  transition: .2s;
}

.link-icons:hover {
  transform: scale(1.2);
}


/* ----------------------------------------------
* Generated by Animista on 2023-9-24 22:57:7
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}

.footer {
  padding: 20% 0;
}

.contact {
  display: flex;
  padding: 5% 0;
  align-items: center;
  justify-content: space-between;
}
.tel {
  display: flex;
  flex-direction: column;
}

.bottom__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
}

/* ProgressBar.css */
.progress-bar-container {
  width: 20rem;
  height: 0.5rem;
  border-radius: 0.8rem;
}

.progress-bar {
  height: 0.5rem;
  outline: none;
  border-radius: 0.8rem;
  transition: width 0.5s ease-in-out;
}

.progress-info {
  text-align: center;
  margin-top: 0.5rem;
}

.frontend {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.backend {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; 
}

.database {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.apis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.technologies .sub_heading {
  font-family: "Futura";
  font-weight: 300;
  margin-top: 1.2rem;
}

.technology {
  content: "";
  width: 45%;
  margin: 1rem;
}

.technology h3 {
  font-weight: 300;
  font-size: 1rem;
  margin: 0 0 1.2rem;
}

.work {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 5rem;
}

.work .title {
  margin-bottom: 1.5rem;
}
.featured-projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.image {
    animation-name: slide-in-left;
    animation-duration: 2s;
    animation-delay: 10s;
    margin-bottom: 1.2rem;
    height: 20rem;
}

.featured-projects.active{
    animation-name: slide-in-left;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.caption {
  margin-bottom: 50px;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-24 2:7:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  .project img {
    object-fit: cover;
    width: 100%;
    transition: .3s;
}

.project img:hover {
    transform: scale(1.01);
}

.menu-bar {
  display: none;
}



@media screen and (max-width: 960px) {

  
  
  .featured-projects {
     display: flex;
     flex-direction: column;
  }

  .work {
    position: relative;
    top: 2rem;
  }
   
  .project {
    padding: 1rem;
  }
  .project .caption {
    margin-top: 2rem;
  }
  .hero-left {
    position: absolute;
  }
  .hero-right {
    width: 100%;
  }

  .navbar__links {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    position: absolute;
    left: 18rem;
    top: 2rem;
    z-index: 100;
    height: 50%;
    padding: 1rem 0 0 2rem;
    width: 60%;
    
  }

 
  .nav_link  {
    line-height: 2rem;
    text-align: left;
    font-size: 1rem;
    margin-top: 4rem;
    padding: 1rem;
    width: 100%;
    transition: .2s all;
  }

  .nav_link:hover{
    background-color: red;
  }

  .menu-bar {
    display: flex;
    position: absolute;
    z-index: 300;
    top: 2rem;
    font-size: 2rem;
    right: 8rem;
    cursor: pointer;
  }


  .technologies {
    position: relative;
    top: 2rem;
  }

  .technology {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
  }

  .technology h3 {
    padding-right: 1rem;
    display: flex;
  }

  .left {
    width: 40%;
  }
  
  .hero-left {
    width: 100%;
  }

  .navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .icons {
    position: relative;
    font-size: 1.5rem;
    top: 0;
  }
  .about {
    position: relative;
    top: 2rem;
  }
  .icons {
    z-index: 1;
  }
}


@media screen and (max-width: 480px) {

.app {
  padding: 1rem;
}

.hero-left {
  display: none;
}
.header {
  display: flex;
}

.icons {
  position: absolute;
  right: 2rem;
  font-size: 1rem;
}
.menu-bar {
  top: 1rem;
  right: 50%;
  font-size: 1.5rem;
}

@keyframes navbarAnimation {

  0% {
    height: 0;
  }

  50% {
    height: 50%;
  }

  100% {
    height: 100%;
  }
  
}

.navbar__links {
  position: relative;
  transition-property: all;
  left: 0;
  width: 100%;
  top: 0;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  padding: 0;
}


.nav_link {
  line-height: 1rem;
  margin: 0;
  text-align: center;
}


.hero-section {
  height: auto;
  display: flex;
  z-index: 1;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.intro {
  text-align: center;
}

.tag-line {
  font-size: 2.5rem;
  font-weight: 400 !important;
  text-align: center;
  line-height: 2.8rem !important;
}

.description {
  font-size: 1rem !important;
  text-align: center;
}

.btn-hire {
   width: max-content;
}

.icons {
  position: relative;
}


.project {
  display: flex;
  flex-direction: column;
}


.technologies {
  display: flex;
  flex-direction: column;
}

.technology {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.about {
  position: relative;
  top: 4rem;
}
.about-group {
  display: flex;
  flex-direction: column;
}
.left  {
  width: 100%;
}
.left p {
  font-size: 1rem;
  font-weight: 400;
}



.right button {
  padding: 1rem 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tel {
  margin: 1rem;
  font-size: 0.9rem;
}
.note {
  font-size: small;
  margin: 1rem;
}

}

